<?php

$app['database.driver']   = 'pdo_mysql';
$app['database.host']     = '127.0.0.1';
$app['database.port']     = '3310';
$app['database.user']     = 'read';
$app['database.password'] = 'read';
$app['database.dbname']   = 's01';
$app['database.charset']  = 'utf8';
$app['basePath']          = '/share/';
$app['default_photos']    = '100';
