{% extends "layout.html.twig" %}

{% block content %}
    <p>{{ photo.cDirName }} | {{ photo.cFileName }} | {{ photo.YearMonthDay }}</p>
    <img src="{{ path('image', {'image': photo.iPictureId }) }}">
{% endblock %}
