<!DOCTYPE html>
<html>
    <head>
        <title>QNAP Gallery</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

        {% block head %}{% endblock %}

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
