{% extends "layout.html.twig" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.4/src/css/lightgallery.min.css" />
{% endblock %}

{% block content %}

    <div id="light-gallery"></div>

    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/jquery-mousewheel@3.1.13,npm/lightgallery@1.6.4/dist/js/lightgallery-all.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            jQuery.ajax("{{ url('photos', {album: album, limit: limit}) }}").done(function (data){

                var photos = [];

                jQuery.each(data, function(index, photo){
                    photos.push({
                        'src': photo.image_url_big,
                        'thumb': photo.image_url_thumb,
                        'subHtml': photo.cDirName + ' | ' + photo.cFileName + ' | ' + photo.YearMonthDay
                    })
                });

                var lightGallery = $('#light-gallery').lightGallery({
                    fullScreen: true,
                    mousewheel: true,
                    controls:   false,
                    closable:   true,
                    autoplay:   true,
                    thumbnail:  true,
                    dynamic:    true,
                    dynamicEl:  photos
                });


                lightGallery.on('onBeforeClose.lg', function (event, index) {
                    throw 500;
                });

            });
        });
    </script>

{% endblock %}
